@font-face {
	font-family: "Open Sans";
	src:
		url("../fonts/opensans.woff2") format("woff2"),
		url("../fonts/opensans.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans";
	src:
		url("../fonts/opensanslight.woff2") format("woff2"),
		url("../fonts/opensanslight.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Gilroy";
	src:
		url("../fonts/gilroyextrabold.woff2") format("woff2"),
		url("../fonts/gilroyextrabold.woff") format("woff");
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: "Gilroy";
	src:
		url("../fonts/gilroylight.woff2") format("woff2"),
		url("../fonts/gilroylight.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #f7e296;
}

.main-navigation {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.main-navigation a {
	color: rgba(0, 0, 0, 1);
}

.main-navigation a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
	list-style: none;
}

.user-navigation a {
	color: rgba(0, 0, 0, 1);
}

.user-navigation a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
	list-style: none;
}

.site-nav-item span {
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 400;
	font-size: 36px;
	color: rgba(0, 0, 0, 0.3);
}

.sub-navigation-list {
	list-style: none;
}

.promo-slider-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.01em;
	color: black;
}

.promo-slider-table {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: black;
}

.promo-slider-table-value {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

.categories {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
}

.categories-list {
	list-style: none;
}

.categories-link {
	color: rgba(0, 0, 0, 1);
}

.categories-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.categories-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.services {
	background-color: #e5e5e5;
}

.services-name {
	list-style: none;
}

.services-slider {
	list-style: none;
}

.services-slider-item h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
	color: #000000;
}

.promo-slider-list {
	list-style: none;
}

.brands-list {
	list-style: none;
}

.about-us-list {
	list-style: none;
}

.company-info h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
	color: #000000;
}

.company-info p {
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
}

.about-us-list {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}

.main-footer {
	background-color: #464646;
	color: #ffffff
}

.main-footer a {
	color: rgba(255, 255, 255, 1);
}

.footer-user-navigation {
	list-style: none;
	line-height: 36px;
}

.footer-navigation {
	list-style: none;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.footer-user-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-user-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.social-list {
	list-style: none;
}

.our-address {
	font-style: normal;
}

.write-to-us-item {
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
}

.write-to-us-item label{
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.page-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
	color: #000000;
}

.breadcrumbs {
	list-style: none;
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.01;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
	color: rgba(0, 0, 0, 0.3);
}

.filter-form {
	background-color: #efefef;
}

.filter-list {
	list-style: none;
}

.filters h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	background-color: #dbdbdb;
}

.filter-legend {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01;
	color: #000000;
}

.filter-item label {
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01;
	color: #000000;
}

.sorting {
	background-color: #ebebeb;
}

.sorting p {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
}

.sorting-category-list {
	list-style: none;
}

.sorting-category-item {
	color: rgba(0, 0, 0, 0.3);
}

.sorting-category-item:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-category-item:active {
	color: rgba(0, 0, 0, 1);
}

.sorting-category-item {
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
}

.sorting-priority {
	list-style: none;
}

.sorting-priority-item {
	color: rgba(0, 0, 0, 0.3);
}

.sorting-priority-item:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-priority-item:active {
	color: rgba(0, 0, 0, 1);
}

.pagination-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.pagination-link {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-link:active {
	color: rgba(0, 0, 0, 1);
}

.pagination-prev a,
.pagination-next a {
	color: rgba(0, 0, 0, 1);
	background-color: #ebebeb;
}

.pagination-prev a:hover,
.pagination-next a:hover {
	color: rgba(0, 0, 0, 1);
	background-color: #d9d9d9;
}

.pagination-prev a:active,
.pagination-next a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d9d9d9;
}

.catalog-list {
	list-style: none;
}

.catalog-item-info a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #000000;
}

.catalog-item-price {
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01;
}

.add-basket-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
}

.compare-link {
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 300;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.01;
}

.compare-link {
	color: rgba(0, 0, 0, 0.5);
}

.compare-link:hover {
	color: rgba(0, 0, 0, 1);
}

.compare-link:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
	list-style: none;
	background-color: #ebebeb;
}

.button {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border: none;
	color: #000000;
	background-color: #f0c52e;
}

.button:hover {
	background-color: #f0c52e;
}

.button:active {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 0.3); 
}

.button-services:active {
	color: #f7e184;
	background-color: #000000;
}

.write-to-us-item input,
.write-to-us-item textarea {
	font-family: "Open Sans", "Arial", sans-serif; 
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	border: none;
	background-color: #f2f2f2;
	color: rgba(70, 70, 70, 0.4);
}

.write-to-us-item input:hover,
.write-to-us-item textarea:hover {
	background-color: #eaeaea;
}

.write-to-us-item input:focus,
.write-to-us-item textarea:focus {
	background-color: #ffffff;
	outline-color: #f7e296;
	color: rgba(70, 70, 70, 1);
}

.write-to-us-item input:invalid,
.write-to-us-item textarea:invalid {
	background-color: #f6dada;
}

.site-search-item input {
	border: none;
	background-color: #f7e296;
	color: rgba(0, 0, 0, 0.3);
}

.write-to-us-item input::placeholder,
.write-to-us-item textarea::placeholder {
	color: rgba(70, 70, 70, 0.4);
}

/*.site-search-item input:hover {
	color: rgba(0, 0, 0, 0.6);
	border: none;
}

.site-search-item input:focus {
	border-bottom: 2px, solid, #000000;
	color: rgba(0, 0, 0, 1);
}*/ 

.button-close {
	background-color: #f7e296;
	border: none;
}

.button-close:hover {
	background-color: #f0c52e;
}

.button-close:active {
	background-color: #faedc0;
}

.dji-logo {
	background-image: url("../img/dji-logo.png");
	width: 260px;
	height: 100px;
}

.dji-logo:hover {
	background-image: url("../img/dji-color-logo.png");
}
